* {
    list-style-type: none;
    box-sizing: border-box;
}
body {
    background: url("./images/PokeBackground.png");
    /* background-size: 100%; */
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* border: solid #5B6DCD 1px; */
}
header {
    text-align: center;
    padding: 20px;
    background-color: #af0d0d;
    /* border: solid #5B6DCD 1px; */
}
.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.topContainer {
    width: 200px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.bottom-section ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin: 0;
    /* border: solid #5B6DCD 1px; */
}
.bottom-section {
    margin: 2;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* border: solid #5B6DCD 1px; */
}
.bottom-section .column {
    background-color: blanchedalmond;
    margin: 0;
    padding: 20px;
    width: 30%;
    text-align: center;
    /* border: solid #5B6DCD 1px; */
}
.columnMiddle img {
    height: 100px;
    width: 100px;
}
.bottom-section .column img {
    width: 100px;
    height: 100px;
    /* border: solid #5B6DCD 1px; */
    box-sizing: border;
}
.bottom-section .column .leftImages img {
    width: 60px;
    height: 60px;
    /* border: solid #5B6DCD 1px; */
    box-sizing: border;
}
.bottom-section .column .rightImages img {
    width: 60px;
    height: 60px;
    /* border: solid #5B6DCD 1px; */
    box-sizing: border;
}
.bottom-section .column .leftPokePics img {
    width: 60px;
    height: 60px;
    /* border: solid #5B6DCD 1px; */
    box-sizing: border;
}
.bottom-section .column .rightPokePics img {
    width: 60px;
    height: 60px;
    border: solid #5B6DCD 1px;
    box-sizing: border;
}
.bottom-section .column .scrollable {
    height: 100px;
    overflow-y: scroll;
}

#comparisonIcon {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-button {
    padding: 10px 20px;
    background-color: #4279c5;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
  }
    #submit-button:hover {
    background-color: #1842a3;
  }

    #submit-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  #view {
    padding: 5px 10px;
    background-color: #9b9b97;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
  }
    #view:hover {
    background-color: #565759;
  }

    #view:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }